doctype html
html
	head
		title nodejs实现邮件发送功能
		link(rel='stylesheet', href='/css/sendmail.css')
		script(src="/js/jquery.min.js")
	body
		h1 nodejs实现邮件发送功能
		hr
		div
			input(type="email" placeholder="输入收件人邮箱地址" required="required" id="email")
			button(id="btn") 发送邮件
		script(src="/js/sendmail.js")